/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */

  body {
    @apply bg-background text-foreground;
  }
}

.bg-background{}
.text-foreground{}


.b2b-section-bg-img {
  background-image: url('../../public/partner-withpopcoins-bg.png');
  background-size: cover;
  background-attachment: fixed;
}

.b2b-section-bg-img:hover {
  background-image: none;
  background-color: #F56651;
}

.react-slick-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.react-slick-logo {
  justify-self: end;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .react-slick-footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .react-slick-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}


.react-slick-texts-container>ul {
  list-style-type: "✅  ";
  font-size: 22px;
}


.react-slick-texts-container>ul>li {
  padding: 10px;
  color: #621E45;
}

.react-slick-texts-container>ul>li>span {
  color: #621E45;
  font-weight: bold;
}

.react-slick-one {
  background-color: #DDCCD3;
  padding-top: 50px;
  padding-bottom: 100px;
}

.react-slick-two {
  background-color: #DDCCD3;
  padding-top: 50px;
  padding-bottom: 100px;
}

.react-slick-three {
  background-color: #DDCCD3;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* // move the slider dots up a bit */
.case-studies-container .slick-dots {
  bottom: 20px !important;
}


.test-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .itm1 {
    grid-column: 1 / 7;
  }

  .itm2 {
    grid-column: 1 / 3;
  }

  .itm3 {
    grid-column: 3 / 5;
  }

  .itm4 {
    grid-column: 5 / 7;
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
  .itm1 {
    grid-column: 1 / 5;
  }

  .itm2 {
    grid-column: 5 / 7;
  }

  .itm3 {
    grid-column: 1 / 5;
  }

  .itm4 {
    grid-column: 5 / 7;
  }
}

@keyframes pulse-border {

  0%,
  100% {
    border-width: 2px;
  }

  50% {
    border-width: 4px;
  }
}

.brand-carousel .react-multi-carousel-list {
  overflow: scroll !important;
}

/* .unlimiteddeals-item-class {
  margin: 30px;
} */

.card {
  /* user-select: none; */
  /* pointer-events: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: white;
  /* border-radius: 1rem; */
  /* padding: 1rem; */
  backface-visibility: hidden;
}

.card__wrapper {
  cursor: pointer;
  width: 340px;
  height: 340px;
  position: relative;
  perspective: 600px;
  margin: 0 auto;
}

.pulsating-border {
  border: 4px solid white;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    border-width: 4px;
  }

  100% {
    border-width: 1px;
  }
}



/* mobile */
@media only screen and (max-width: 600px) {

  /* // POP blog styles */
  .blog-grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .blog-grid-itm-1 {}

  .blog-grid-itm-2 {}

  .blog-grid-itm-3 {}

  .blog-grid-itm-4 {}
}

/* laptop */
@media only screen and (min-width: 600px) {

  /* // POP blog styles */
  .blog-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .blog-grid-itm-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .blog-grid-itm-2 {
    grid-column: 2 / 3;
  }

  .blog-grid-itm-3 {}

  .blog-grid-itm-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.swiper {
  width: 100vw;
  /* margin: 0 auto; */
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.integration-container {
  background-image: url('/public/Integrations-bg.png');
}

.animated-section-content {
  position: relative;
  height: 481px;
  background: #000 url('../../public/middle-bg.png') no-repeat;
  overflow: hidden;
  background-position: 52% 50%;
}

.animated-section-content:before,
.animated-section-content:after {
  content: '';
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.animated-section-content:before {
  left: -31px;
  background: url('../../public/right-bg.png') no-repeat left center;
  height: 100%;
  width: 50%;
}

.animated-section-content:after {
  right: 0;
  background: url('../../public/left-bg.png') no-repeat right center;
  height: 100%;
  width: 50%;
}

.animated-section-content .body-content {
  background-color: #000;
  z-index: 9;
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 668px;
  margin: 0 auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.animated-section-content .body-content:before,
.animated-section-content .body-content:after {
  position: absolute;
  content: '';
}

.animated-section-content .body-content:before {
  transform-origin: bottom right;
  -ms-transform: skew(11deg, 0deg);
  -webkit-transform: skew(11deg, 0deg);
  transform: skew(11deg, 0deg);
  left: 0;
  background: #000;
  height: 100%;
  width: 100px;
  z-index: -8;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.animated-section-content .body-content:after {
  transform-origin: top right;
  -ms-transform: skew(11deg, 0deg);
  -webkit-transform: skew(11deg, 0deg);
  transform: skew(11deg, 0deg);
  right: -6px;
  background: #000;
  height: 100%;
  width: 100px;
  z-index: -8;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.animated-section-content:hover .body-content {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

.animated-section-content:hover:before {
  left: -100px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.animated-section-content:hover:after {
  right: -100px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.animated-section-content .body-content h2 {
  font-weight: 700;
  font-size: 65px;
  line-height: 60px;
  margin: 0 0 10px;
  text-align: center;
  font-family: 'Khand', sans-serif;
  color: #FFFFFF;
}

.animated-section-content .body-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 15px;
  text-align: center;
  color: #FFFFFF;
}

.animated-section-content .body-content .btn-style {
  font-weight: 600;
  font-size: 22px;
  line-height: 66px;
  margin: 12px auto 0;
  color: #F56651;
  max-width: 282px;
  width: 100%;
  background-color: #fff;
  border-color: #fff;
  border-radius: 40px;
}

.animated-section-content .body-content .logo-group {
  margin: 30px auto 0;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.animated-section-content .body-content .logo-group>img {
  width: 100%;
  max-width: 170px;
  margin: 0 12px;
}

@media (max-width:1350px) {
  .animated-section-content:before {
    left: -67px;
  }

  .animated-section-content:after {
    right: -26px;
  }
}

@media (max-width:1199px) {

  .animated-section-content:before {
    left: -177px;
  }

  .animated-section-content:after {
    right: -130px;
  }
}

@media (max-width:1024px) {
  .animated-section-content:before {
    left: -263px;
  }

  .animated-section-content:after {
    right: -210px;
  }
}

@media (max-width:992px) {

  .animated-section-content {
    background-size: 660px;
  }

  .animated-section-content:before {
    left: -143px;
  }

  .animated-section-content:after {
    right: -100px;
  }

  .animated-section-content:hover:before {
    left: -260px;
  }

  .animated-section-content:hover:after {
    right: -210px;
  }
}

@media only screen and (max-width:768px) {
  .animated-section-content:before {
    left: -263px;
  }

  .animated-section-content:after {
    right: -210px;
  }

  .animated-section-content .body-content h2 {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 4px;
  }

  .animated-section-content {
    height: auto;
  }

  .animated-section-content .body-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .animated-section-content .body-content .btn-style {
    font-size: 18px;
    line-height: 48px;
    max-width: 242px;
  }

  .animated-section-content .body-content .logo-group>img {
    max-width: 120px;
    margin: 0 8px;
  }

  .animated-section-content .body-content .logo-group {
    margin: 20px auto 0;
  }

  .animated-section-content .body-content {
    max-width: 488px;
  }

  .animated-section-content:hover:before {
    left: -300px;
  }

  .animated-section-content:hover:after {
    right: -240px;
  }
}

@media (max-width:767px) {

  .animated-section-content .body-content {
    max-width: 528px;
    opacity: 1;
    padding: 50px 15px;
  }
}

@media (max-width:576px) {
  .animated-section-content .body-content h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .animated-section-content .body-content p {
    font-size: 16px;
    line-height: 20px;
  }

  .animated-section-content .body-content .btn-style {
    font-size: 16px;
    line-height: 42px;
    max-width: 212px;
  }

}

.slider-popcoins-brands {
  margin: 30px auto 0;
}

.slider-popcoins-brands .item {
  margin-right: 25px;
}

.slider-popcoins-brands .item .cards {
  position: relative;
  width: 334px;
  height: 296px;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}

.slider-popcoins-brands .item .cards .logo {
  width: 100%;
  max-width: 90px;
}

.slider-popcoins-brands .item .cards .earncoins-strip {
  background: rgba(0, 0, 0, 0.3);
  border: 1.0052px solid #FFFFFF;
  -webkit-backdrop-filter: blur(3.0156px);
  -moz-backdrop-filter: blur(3.0156px);
  backdrop-filter: blur(3.0156px);
  border-radius: 20.3197px;
  justify-content: space-around;
  width: 100%;
  max-width: 280px;
  padding-right: 10px;
  margin: 0 auto 30px;
  font-weight: 600;
  font-size: 15.6306px;
  line-height: 21px;
  color: #FFFFFF;
  height: 32px;
}

.slider-popcoins-brands .item .cards .earncoins-strip>img {
  width: 40px;
  margin-left: -5px;
}

.slider-popcoins-brands .item .cards .front-content {
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  background: url('../../public/up-arrow-style.png') no-repeat 50% 93%;
  background-size: 60px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.slider-popcoins-brands .item .cards .hover-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-backdrop-filter: blur(3px) contrast(60%);
  -moz-backdrop-filter: blur(3px) contrast(60%);
  backdrop-filter: blur(3px) contrast(60%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: -8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url('../../public/down-arrow-style.png') no-repeat 50% 18px;
  background-size: 60px;
}

.slider-popcoins-brands .item .cards .hover-content p {
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
}

.slider-popcoins-brands .item .cards .hover-content .button-style {
  background: #FFFFFF;
  border: 0.951762px solid #FFFFFF;
  backdrop-filter: blur(2.85529px);
  border-radius: 19.2396px;
  max-width: 152px;
  line-height: 38px;
  font-size: 14px;
  color: #000;
  margin: 20px auto 0;
  display: block;
}

.slider-popcoins-brands .item .cards:hover .front-content {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.slider-popcoins-brands .item .cards:hover .hover-content {
  opacity: 1;
  z-index: 9;
}



@media (max-width:767px) {

  .slider-popcoins-brands {
    margin-left: auto !important;
  }

  .slider-popcoins-brands .item .cards {
    width: 214px;
    height: 189px;
    border-radius: 19px;
  }

  .slider-popcoins-brands .item .cards .logo {
    max-width: 55px;
  }

  .slider-popcoins-brands .item .cards .front-content,
  .slider-popcoins-brands .item .cards .hover-content {
    padding: 12px;
  }

  .slider-popcoins-brands .item .cards .earncoins-strip {
    font-size: 9px;
    margin: 0 auto 18px;
    height: 25px;
  }

  .slider-popcoins-brands .item .cards .earncoins-strip>img {
    width: 35px;
  }

  .slider-popcoins-brands .item .cards .front-content {
    background-size: 32px;
  }

  .slider-popcoins-brands .item .cards .hover-content p {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 5px;
  }

  .slider-popcoins-brands .item .cards .hover-content .button-style {
    max-width: 122px;
    line-height: 30px;
    font-size: 11px;
    color: #000;
    margin: 0px auto 0;
    display: block;
  }

  .slider-popcoins-brands .item .cards .hover-content {
    background-size: 20px;
  }

  .slider-popcoins-brands .item {
    margin-right: 12px;
  }
}

.top-brand-itm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* // hiding coupons page slider arrow on mobile */
/* MOBILE */
@media only screen and (max-width: 600px) {
  .coupon-carousel-container .react-multiple-carousel__arrow--left {
    display: none;
  }

  .coupon-carousel-container .react-multiple-carousel__arrow--right {
    display: none;
  }
}

/* DESKTOP */
@media only screen and (min-width: 600px) {
  .coupon-carousel-container .react-multiple-carousel__arrow--left {
    display: block;
  }

  .coupon-carousel-container .react-multiple-carousel__arrow--right {
    display: block;
  }
}

.banner-carousel-container .react-multiple-carousel__arrow:hover {
  background-color: white;
}

.banner-carousel-container .react-multiple-carousel__arrow::before {
  color: black;
}

.banner-carousel-container .react-multiple-carousel__arrow--left {
  background-color: white;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.banner-carousel-container .react-multiple-carousel__arrow--right {
  background-color: white;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.banner-carousel-container .react-multiple-carousel__arrow::before {
  color: black;
}

.banner-carousel-container .react-multi-carousel-dot-list {
  bottom: 50px;
}


.banner-carousel-container .react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background-color: white;
  color: green;
}

.banner-carousel-container .react-multi-carousel-dot button {
  border-width: 1px;
}

/* // hide baner arrows on mobile */



/* MOBILE */
@media only screen and (max-width: 600px) {
  .banner-carousel-container .react-multiple-carousel__arrow--left {
    display: block;
    background-color: white;
    opacity: 0.3;
  }

  .banner-carousel-container .react-multiple-carousel__arrow--right {
    display: block;
    background-color: white;
    opacity: 0.3;
  }

  .banner-carousel-container .react-multiple-carousel__arrow::before {
    color: black;

  }
}

/* DESKTOP */
@media only screen and (min-width: 600px) {
  .banner-carousel-container .react-multiple-carousel__arrow--left {
    display: block;
  }

  .banner-carousel-container .react-multiple-carousel__arrow--right {
    display: block;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .integrations-section {
    background-image: url("/integrations-bg.png");
    background-size: cover;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .integrations-section {
    background-image: url("/integrations-bg.png");
  }
}


.integrations-section:hover {
  background-image: none;
  background-color: #F56651;
}

/* THIS REVERTS STYLES FOR H1 to H6 and rest of the styles overriden by tailwindcss */
.blog-post-container>* {
  all: revert;
}


.case-studies-container .react-multi-carousel-dot-list {
  bottom: 20px;
}

.case-studies-container .react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background-color: white;
  color: green;
}

.case-studies-container .react-multi-carousel-dot button {
  border-width: 1px;
  border-color: white;
}



.brand-testimonial-container .react-multi-carousel-dot-list {
  bottom: 20px;
}


.brand-testimonial-container .react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background-color: black;
}

.brand-testimonial-container .react-multi-carousel-dot button {
  border-width: 1px;
  border-color: black;
}




/* // slider infinte */

.infinite-container img {
  display: block;
  width: 100%;
}

.infinite-container section {
  width: 100%;
  overflow: hidden;
}

.infinite-container article {
  display: flex;
  width: 400%;
  animation: bannermove 20s linear infinite;
}

.infinite-container article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.infinite-container div {
  width: 100%;
}

.infinite-container ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.infinite-container li {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.infinite-container li:nth-child(2) {
}

.infinite-container li:nth-child(3) {
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}